<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css"
    />
  </head>

  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">What's the weather like?</h1>
        </div>
      </div>
      <div class="control">
        <p class="button is-info" style="float:right;" id="logout">Logout</p>
      </div> 
    </section>
    
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-4 is-4">
            <form>
              <label for="cars">Enter City:</label>
              <input id="city" class="input" type="text" placeholder="City Name" />
            </form>
          </div>
        </div>
      </div>
    </section> 


    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-4 is-4">
            <form>  
              {% csrf_token %}
              <div class="control">
                <p class="button is-info" id="weather">Get Weather Info</p>
              </div>   
            </form>
          </div>
        </div>
      </div>
      <div id="mydiv"></div>
    </section>


    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-4 is-4">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-50x50">
                    <img
                      src="http://openweathermap.org/img/w/10d.png"
                      alt="Image"
                    />
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <span id="city_weather" class="title"></span>
                      <br />
                      <span id="city_temp" class="subtitle"></span>
                      <br />
                      <span id="city_desc"></span>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer"></footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

   <script>
       
       document.getElementById("weather").addEventListener("click", function(){
          console.log("Weather button")
          $.ajax({
            type: 'GET',
            url: "get_weather/",
            data:{
              'city': $("#city").val(),
            },
            dataType: 'json',
            success: function(response){
              console.log(response)
              document.getElementById("city_weather").innerHTML= response.weather[0].city
              document.getElementById("city_temp").innerHTML= response.weather[0].temp
              document.getElementById("city_desc").innerHTML= response.weather[0].description
            },
          });

        });


        document. getElementById("logout"). onclick = function () { location. href = "/login"; };

    </script>
  </body>
</html>
